<app-header></app-header>
<div class="app-body">
    <app-sidebar></app-sidebar>
    <main class="main">
        <form>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Configurações</li>
                <li class="breadcrumb-item">Seguradoras</li>
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group">
                        <a class="btn">
                            <i class="fas fa-question mr-2"></i>Ajuda
                        </a>
                    </div>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="card card-accent-crm">
                        <div class="card-header">
                            <strong><i class="fas fa-filter mr-2"></i>Filtros</strong>
                            <div class="card-header-actions">
                                <a class="btn btn-dark">
                                    <i class="fas fa-arrow-alt-circle-left mr-2"></i>Voltar
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Nome:</label>
                                        <input class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <div class="btn-group">
                                    <input type="submit" value="Pesquisar" class="btn btn-primary">
                                    <input type="button" value="Redefinir Pesquisa" class="btn btn-danger">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-accent-crm">
                        <div class="card-header">
                            <strong><i class="fas fa-bars mr-2"></i>Listagem</strong>
                            <div class="card-header-actions">
                                <a class="btn btn-success">
                                    <i class="fas fa-plus mr-2"></i>Adicionar Seguradora
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div>
                                    <table class="table table-borderless border-0 mb-0" cellspacing="0" rules="all"
                                        border="1" style="border-collapse:collapse;">
                                        <tbody>
                                            <tr class="border-bottom">
                                                <th scope="col">&nbsp;</th>
                                                <th scope="col"><a>Nome</a></th>
                                            </tr>
                                            <tr *ngFor="let seguradoras of seguradora" class="border-bottom">
                                                <td class="text-center bg-white border-right" style="width:3%;">
                                                    <a><i class="fas fa-edit"></i></a>
                                                </td>
                                                <td>{{ seguradoras.nome }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <ul class="pagination justify-content-center mt-3">
                                    <li class="page-item disabled">
                                        <a class="page-link">« Anterior</a>
                                    </li>
                                    <li class="page-item">
                                        <span class="page-text page-text-active">1</span>
                                    </li>
                                    <li class="page-item"><span class="page-text">de</span></li>
                                    <li class="page-item">
                                        <span class="page-text page-text-active">5</span>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">Próxima »</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
</div>
<app-footer></app-footer>