<app-header></app-header>
<div class="app-body">
    <app-sidebar></app-sidebar>
    <main class="main">
        <form name="Form" method="post" action="https://app.com.br/" id="Form">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Relatórios</li>
                <li class="breadcrumb-menu d-md-down-none" style="display: none;">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <a class="btn" href="javascript:void(0);">
                            <i class="fas fa-question mr-2"></i>Ajuda
                        </a>
                    </div>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="card card-accent-crm">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <strong><i class="fas fa-bars mr-2"></i>Relatórios</strong>
                                        </div>
                                        <div class="col-auto ml-auto">
                                            <div class="btn-group" role="group" aria-label="Second group">
                                                <a id="Voltar" class="btn btn-dark"
                                                    href="javascript:__doPostBack(Voltar)"><i
                                                        class="fas fa-arrow-alt-circle-left mr-2"></i>Voltar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="RelatoriosDocumentos">

                                        </div>
                                        <div id="RelatoriosAtividades">

                                        </div>
                                        <div id="RelatoriosAuditoria">

                                        </div>
                                        <div id="RelatoriosCampanhas">

                                        </div>
                                        <div id="RelatoriosClientes">

                                        </div>
                                        <div id="RelatoriosComissoes">

                                        </div>
                                        <div id="Leads">

                                        </div>
                                        <div id="RelatoriosOportunidades">

                                        </div>
                                        <div id="RelatoriosPremios">

                                        </div>
                                        <div id="RelatoriosRepasses">

                                        </div>
                                        <div id="RelatoriosSinistros">

                                        </div>
                                        <div id="RelatoriosPersonalizados">

                                        </div>
                                        <table width="100%" cellspacing="0" cellpadding="0"
                                            class="table table-borderless border-0 bg-white mb-0">
                                            <tbody>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th>Nome</th>
                                                    <th>Descrição</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Apólices</td>
                                                    <td>Relatórios relacionados às apólices.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/documentos">visualizar</a>
                                                    </td>
                                                </tr>

                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Atividades</td>
                                                    <td>Relatórios relacionados à atividades.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/atividades">visualizar</a>
                                                    </td>
                                                </tr>

                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Auditoria</td>
                                                    <td>Auditoria do sistema.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/Auditoria/auditoria">visualizar</a>
                                                    </td>
                                                </tr>


                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Campanhas</td>
                                                    <td>Relatórios relacionados às campanhas.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/Campanhas/homeCampanhas">visualizar</a>
                                                    </td>
                                                </tr>



                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Clientes</td>
                                                    <td>Relatórios relacionados ao cliente.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/clientes">visualizar</a>
                                                    </td>
                                                </tr>


                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Comissões</td>
                                                    <td>Relatórios relacionados às comissões.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/comissoes">visualizar</a>
                                                    </td>
                                                </tr>


                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Leads</td>
                                                    <td>Relatórios relacionados aos leads.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/leads">visualizar</a>
                                                    </td>
                                                </tr>


                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Oportunidades</td>
                                                    <td>Relatórios relacionados às oportunidades.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/oportunidades">visualizar</a>
                                                    </td>
                                                </tr>


                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Prêmios</td>
                                                    <td>Relatórios relacionados aos prêmios.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/premios">visualizar</a>
                                                    </td>
                                                </tr>


                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Repasses</td>
                                                    <td>Relatórios relacionados ao repasse.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/repasses">visualizar</a>
                                                    </td>
                                                </tr>


                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Sinistros</td>
                                                    <td>Relatórios relacionados aos sinistros.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/sinistros">visualizar</a>
                                                    </td>
                                                </tr>


                                                <tr class="border-bottom">
                                                    <td class="text-center border-right" style="width: 3%;"><i
                                                            class="fas fa-chart-bar"></i></td>
                                                    <td>Personalizados</td>
                                                    <td>Relatórios personalizados para sua empresa.</td>
                                                    <td class="text-center border-left" style="width: 5%;"><a
                                                            class="font-weight-bold"
                                                            href="https://app.com.br/Relatorios/personalizados">visualizar</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
</div>
<app-footer></app-footer>