<div class="sidebar">
    <div class="sidebar-header">
        <img class="avatar-square" src="buscarImagemEmpresa.png" alt="Avatar"
            style="position: relative; width: 100%" />
    </div>
    <div class="sidebar-form d-sm-none">
        <div class="form-group p-2 mb-0">
            <input class="form-control" type="text" placeholder="Pesquisar..." id="txPesquisaMobile"
                autocomplete="off" />
        </div>
    </div>
    <nav class="sidebar-nav ps ps--active-y">
        <ul class="nav open">
            <a class="nav-link active" href="/" id="liInicio">
                <i class="nav-icon fas fa-home"></i>Início
            </a>

            <a class="nav-link" href="https://app.com.br/FluxoDeCaixa" id="liFluxoDeCaixa">
                <i class="nav-icon fas fa-sack-dollar"></i>Gestão Financeira
            </a>

            <a class="nav-link" href="https://app.com.br/Atendimentos"
                id="liAtendimentos">
                <i class="nav-icon fab fa-whatsapp"></i>Atendimentos
            </a>

            <a class="nav-link" href="https://app.com.br/Dashboard" id="liDashboard">
                <i class="nav-icon fas fa-tachometer-alt"></i>Dashboard
            </a>

            <a class="nav-link" href="https://app.com.br/Hoje" id="liHoje">
                <i class="nav-icon fas fa-calendar-day"></i>Meu dia
            </a>

            <a class="nav-link" href="https://app.com.br/Calendario" id="liCalendario">
                <i class="nav-icon fas fa-calendar"></i>Agenda
            </a>

            <a class="nav-link" href="/clientes" id="liClientes">
                <i class="nav-icon fas fa-user-friends"></i>Clientes
            </a>

            <a class="nav-link" href="https://app.com.br/Leads" id="liLeads">
                <i class="nav-icon fas fa-users"></i>Leads
            </a>

            <a class="nav-link" href="https://app.com.br/Oportunidades" id="liOportunidades">
                <i class="nav-icon fas fa-star"></i>Oportunidades
            </a>

            <a class="nav-link" href="https://app.com.br/Documentos" id="liDocumentos">
                <i class="nav-icon fas fa-file-alt"></i>Apólices
            </a>

            <a class="nav-link" href="https://app.com.br/ApolicesColetivas"
                id="liDocumentosColetivos">
                <i class="nav-icon fas fa-archive"></i>Apólices Coletivas
            </a>

            <a class="nav-link" href="https://app.com.br/Orcamentos" id="liOrcamentos">
                <i class="nav-icon fas fa-search-dollar"></i>Multi Cálculo
            </a>

            <a class="nav-link" href="https://app.com.br/Baixas" id="liBaixas">
                <i class="nav-icon fas fa-wallet"></i>Financeiro
            </a>

            <a class="nav-link" href="https://app.com.br/Sinistros" id="liSinistros">
                <i class="nav-icon fas fa-shield-alt"></i>Sinistros
            </a>

            <a class="nav-link" href="https://app.com.br/CrossSelling" id="liCrossSell">
                <i class="nav-icon fas fa-crosshairs"></i>Cross Selling
            </a>

            <a class="nav-link" href="https://app.com.br/Campanhas" id="liCampanhas">
                <i class="nav-icon fas fa-volume-up"></i>Campanhas
            </a>

            <a class="nav-link" href="https://app.com.br/Importador" id="liImportador">
                <i class="nav-icon fas fa-file-import"></i>Importador
            </a>

            <a class="nav-link" href="https://app.com.br/Arquivos" id="liArquivos">
                <i class="nav-icon fas fa-folder"></i>Arquivos
            </a>

            <a class="nav-link" href="https://app.com.br/Relatorios" id="liRelatorios">
                <i class="nav-icon fas fa-chart-area"></i>Relatórios
            </a>

            <a class="nav-link" href="https://app.com.br/Configuracoes" id="liConfiguracoes">
                <i class="nav-icon fas fa-cog"></i>Configurações
            </a>
        </ul>

        <div class="ps__rail-x" style="left: 0px; bottom: 0px">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
        </div>
        <div class="ps__rail-y" style="top: 0px; height: 456px; right: 0px">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 201px"></div>
        </div>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button" id="minimizarMenu" autocomplete="off"></button>
</div>
